{% extends "base.html" %}
{% load static %}
    {% block content %}
    <div class = "container-fluid">
        <div class = "row bg-secondary py-3">
            <div class = "col text-center text-dark">
                <h1>All Publishers</h1>
                <img class = "img-fluid my-2" style = "max-height: 25rem;" src = "{% static '\images\homepage\alexey-ruban-73o_FzZ5x-w-unsplash.jpg' %}">
            </div>
        </div>
    </div>
        <table class = "table table-hover">
            <thead class = "bg-dark text-success">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date Founded</th>
                </tr>
            </thead>
            <tbody>
                {% for publisher in publishers %}
                <tr>
                    <td><a class = "text-success"href = "{% url 'publisher_detail' publisher.id%}">{{publisher.name}}</a></td>
                    <td>{{publisher.date_founded}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}