{% extends "base.html" %}
{% load static %}
    {% block content %}
    <div class = "container-fluid">
        <div class = "row bg-secondary py-3">
            <div class = "col text-center text-dark">
                <h1>All Artists</h1>
                <img class = "img-fluid my-2" style = "max-height: 25rem;" src = "{% static '\images\homepage\chris-ainsworth-7WfcHibcR3Y-unsplash.jpg' %}">
            </div>
        </div>
    </div>
        <table class = "table table-hover">
            <thead class = "bg-dark text-success">
                <tr>
                    <th scope = "col">Picture</th>
                    <th scope = "col">Artists</th>
                </tr>
            </thead>
            {% for artist in artists %}
                <tr>
                    <td><img class= "artist-image" style = "width: 100px; height: auto;" src = "{% static '/images/artists' %}/{{artist.id}}.jpg"></td>
                    <td><a class = "text-success" href = "{% url 'artist_detail' artist.id %}">{{artist.first_name}} {{artist.last_name}}</a></td>
                </tr>
            {% endfor %}
        </table>
        {% endblock %}