
{% extends "base.html" %}
{% load static %}
    {% block content %}
    <div class = "container-fluid">
        <div class = "row bg-secondary py-3">
            <div class = "col text-center text-dark">
                <h1>Album details - {{album.title}}</h1>
                <img class = "img-fluid my-2" style = "max-height: 25rem;" src = "{% static '/images/albums' %}/{{album.id}}.jpg">
            </div>
        </div>
        <div class = "row d-flex py-5 bg-success">
            <div class = "col-lg-4 col-md-6 col-sm">
                <div class="card mx-auto my-2 text-center" style="width: 18rem;">
                    <div class="card-body bg-light">
                        <h5 class="card-title">Publisher</h5>
                        <a class  = "text-success" href = "{% url 'publisher_detail' album.publisher.id %}">{{album.publisher}}</a>
                    </div>
                </div>
            </div>
            <div class = "col-lg-4 col-md-6 col-sm">
                <div class="card mx-auto my-2 text-center" style="width: 18rem;">
                    <div class="card-body bg-light">
                        <h5 class="card-title">Released</h5>
                        <p>{{album.release_date}}</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-4 col-md-6 col-sm">
                <div class="card mx-auto my-2 text-center" style="width: 18rem;">
                    <div class="card-body bg-light">
                        <h5 class="card-title">Artist</h5>
                        <a class = "text-success" href = "{% url 'artist_detail' album.artist.id %}" >{{album.artist}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <div class = "song-table-w-h2">
            <table class = "table">
                        <thead class = "bg-dark text-success">
                            <tr>
                                <th>Song</th>
                                <th>Length</th>
                            </tr>
                        </thead>
                {% for song in songs %}
                    {% if album.id == song.album.id %}
                        <tr>
                            <td><a class = "text-success" href = "{% url 'song_detail' song.id %}">{{song.title}}</a></td>
                            <td>{{song.length}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endblock %}
