<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <a href = "{% url 'all_albums' %}">All Albums</a>
            <a href = "{% url 'all_artists' %}">All Artists</a>
            <a href = "{% url 'all_publishers' %}">All Publishers</a>
            <a href ="{% url 'all_songs'%}">All Songs</a>
        </header>
        <h1>All Albums</h1>
        <h2>Data Input Progress: {{albums_length}} / 231 Albums</h2>
        <table>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Release Date</th>
                    <th>Publisher</th>
                </tr>
            {% for album in albums %}
                <tr>
                    <td><a href = "{% url 'albums_detail' album.id %}">{{album.title}}</a></td>
                    <td><a href = "{% url 'artist_detail' album.artist.id %}">{{album.artist}}</a></td> 
                    <td>{{album.release_date}}</td> 
                    <td><a href = " {%url 'publisher_detail' album.publisher.id%}">{{album.publisher}}</a></td>
                </tr>
            {% endfor %}
        </table>
        
    </body>
</html>