<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Artist Details</h1>
        <p>{{artist}}</p>
        <h2>Albums: </h2>
        <table>
            <tr>
                <th>Title</th>
            </tr>
            {% for album in albums %}
                {% if artist.id == album.artist.id %}
                <tr>
                    <td><a href = "{% url 'albums_detail' album.id %}">{{album.title}}</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        <h2>Songs: </h2>
        <table>
                <tr>
                    <th>Title</th>
                </tr>
            {% for song in songs %}
                {% if artist.id == song.artist.id %}
                <tr>
                <td><a href = "{% url 'song_detail' song.id %}">{{song.title}}</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </body>
</html>