<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <a href = "{% url 'all_albums' %}">All Albums</a>
            <a href = "{% url 'all_artists' %}">All Artists</a>
            <a href = "{% url 'all_publishers' %}">All Publishers</a>
            <a href ="{% url 'all_songs'%}">All Songs</a>
        </header>
        <h1>All Artists</h1>
        <table>
            <tr>
                <th>Artists</th>
            </tr>
            {% for artist in artists %}
                <tr>
                    <td><a href = "{% url 'artist_detail' artist.id %}">{{artist.first_name}} {{artist.last_name}}</a></td>
                </tr>
            {% endfor %}
        </table>
        
    </body>
</html>