{% load static %}
<!DOCTYPE html>

<head>
    <Link rel = "stylesheet" href = "{% static 'style.css' %}">
</head>

<body>
    <header>
        <h1><a id = "homepage-link" href = "{% url 'home' %}">Jayden's Record Database</a></h1>
        <div id = "header-links-group">
            <a class = "header-links" href="{% url 'all_albums' %}">All Albums</a>
            <a class = "header-links" href="{% url 'all_artists' %}">All Artists</a>
            <a class = "header-links" href="{% url 'all_publishers' %}">All Publishers</a>
            <a class = "header-links" href="{% url 'all_songs'%}">All Songs</a>
        </div>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>