<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Homepage</h1>
        <section id = "homepage-links"> 
            <!--Right now, This is local hist, I'll have to change this later :)-->
            <a href = "http://localhost:8000/albums/all">All Albums</a>
            <br>
            <a href = "http://localhost:8000/artists/all">All Artists</a>
            <br>
            <a href = "http://localhost:8000/publishers/all">All Publishers</a>
            <br>
            <a href = "http://localhost:8000/songs/all">All Songs</a>
            <br>
        </section>
        
        
    </body>
</html>