<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Publisher Details</h1>
        <p>{{publisher.name}}</p>
        <h2>Albums: </h2>
        {% for album in albums %}
            {% if publisher.id == album.publisher.id %}
                <a href = "{% url 'albums_detail' album.id%}">{{album.title}}</a>
                <br>
            {% endif %}
        {% endfor %}
        <h2>Songs: </h2>
        {% for song in songs %}
            {% if publisher.id == song.album.publisher.id %}
                <a href = "{% url 'song_detail' song.id%}">{{song.title}}</a>
                <br>
            {% endif %}
        {% endfor %}
    </body>
</html>