{% extends "base.html" %}
    {% block content %}
        <h1 style = "text-align: center;">All Publishers</h1>
        <table class = "publishers-table">
            <tr>
                <th>Name</th>
                <th>Date Founded</th>
            </tr>
            {% for publisher in publishers %}
            <tr>
                <td><a href = "{% url 'publisher_detail' publisher.id%}">{{publisher.name}}</a></td>
                <td>{{publisher.date_founded}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endblock %}