<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <a href = "{% url 'all_albums' %}">All Albums</a>
            <a href = "{% url 'all_artists' %}">All Artists</a>
            <a href = "{% url 'all_publishers' %}">All Publishers</a>
            <a href ="{% url 'all_songs'%}">All Songs</a>
        </header>
        <h1>Publisher Details</h1>
        <p>{{publisher.name}}</p>
        <h2>Albums: </h2>
        <table class = "album-table">
            <tr>
                <th>Album</th>
                <th>Artist</th>
                <th>Released</th>
            </tr>
            {% for album in albums %}
                    <tr>
                {% if publisher.id == album.publisher.id %}
                    <td><a href = "{% url 'albums_detail' album.id%}">{{album.title}}</a></td>
                    <td><a href = "{% url 'artist_detail' album.artist.id%}">{{album.artist}}</a></td>
                    <td>{{album.release_date}}</td>
                {% endif %}
            {% endfor %}
                    </tr>
        </table>
        
        <h2>Songs: </h2>
        <table class = "song-table">
            <tr>
                <th>Song</th>
                <th>Length</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Released</th>
            </tr>
            {% for song in songs %}
                {% if publisher.id == song.album.publisher.id %}
                <tr>
                    <td><a href = "{% url 'song_detail' song.id%}">{{song.title}}</a></td>
                    <td>{{song.length}}</td>
                    <td><a href = "{% url 'artist_detail' song.artist.id %}"></a>{{song.artist}}</td>
                    <td><a href = "{% url 'albums_detail' song.album.id %}">{{song.album.title}}</a></td>
                    <td>{{song.album.release_date}}</td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>
    </body>
</html>