{% extends "base.html" %}
{% load static %}
    {% block content %}
        <h1 style = "text-align: center;">Publisher Details</h1>
        <p style = "text-align: center;">{{publisher.name}}</p>
        <h2 style = "text-align: center;">Albums: </h2>
        <table class = "album-table">
            <tr>
                <th>Cover</th>
                <th>Album</th>
                <th>Artist</th>
                <th>Released</th>
            </tr>
            {% for album in albums %}
                    
                {% if publisher.id == album.publisher.id %}
                <tr>                  
                    <td><img class= "album-image" style = "width: 100px; height: auto;" src = "{% static '/images/albums' %}/{{album.id}}.jpg"></td>
                    <td><a href = "{% url 'albums_detail' album.id%}">{{album.title}}</a></td>
                    <td><a href = "{% url 'artist_detail' album.artist.id%}">{{album.artist}}</a></td>
                    <td>{{album.release_date}}</td>
                    </tr>
                {% endif %}
            {% endfor %}       
        </table>
        
        <h2>Songs: </h2>
        <table class = "song-table">
            <tr>
                <th>Cover</th>
                <th>Song</th>
                <th>Length</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Released</th>
            </tr>
            {% for song in songs %}
                {% if publisher.id == song.album.publisher.id %}
                <tr>
                    <td><img class= "album-image" style = "width: 100px; height: auto;" src = "{% static '/images/albums' %}/{{song.album.id}}.jpg"></td>
                    <td><a href = "{% url 'song_detail' song.id%}">{{song.title}}</a></td>
                    <td>{{song.length}}</td>
                    <td><a href = "{% url 'artist_detail' song.artist.id %}"></a>{{song.artist}}</td>
                    <td><a href = "{% url 'albums_detail' song.album.id %}">{{song.album.title}}</a></td>
                    <td>{{song.album.release_date}}</td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>
    {% endblock %}