<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <a href = "{% url 'all_albums' %}">All Albums</a>
            <a href = "{% url 'all_artists' %}">All Artists</a>
            <a href = "{% url 'all_publishers' %}">All Publishers</a>
            <a href ="{% url 'all_songs'%}">All Songs</a>
        </header>
        <h1>All Publishers</h1>
        <table class = "publishers-table">
            <tr>
                <th>Name</th>
                <th>Date Founded</th>
            </tr>
            {% for publisher in publishers %}
            <tr>
                <td><a href = "{% url 'publisher_detail' publisher.id%}">{{publisher.name}}</a></td>
                <td>{{publisher.date_founded}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>