<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <a href = "{% url 'all_albums' %}">All Albums</a>
            <a href = "{% url 'all_artists' %}">All Artists</a>
            <a href = "{% url 'all_publishers' %}">All Publishers</a>
            <a href ="{% url 'all_songs'%}">All Songs</a>
        </header>
        <h1>Song Details</h1>
        <p>{{song.title}}</p>
        <table>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Length</th>
                <th>Release date</th>
            </tr>
            <tr>
                <td><a href = "{% url 'song_detail' song.id %}">{{ song.title }}</a></td> 
                <td><a href = "{% url 'artist_detail' song.artist.id%}">{{song.artist}}</a></td>
                <td><a href = "{% url 'albums_detail' song.album.id %}">{{song.album}}</a></td>
                <td>{{song.length}}</td>
                <td>{{song.album.release_date}}</td>
            </tr>
        </table>

    </body>
</html>