{% extends "base.html" %}
{% load static %}
    {% block content %}
    <div class = "page-title-container">
        <h1 class = "page-title" style = "text-align: center;">Statistics</h1>
    </div>
    <h2 class = "big-stats">Album Amount: {{albums_amount}}</h2>
    <h2 class = "big-stats">Song Amount: {{songs_amount}}</h2>
    <h2 class = "big-stats">Publisher Amount: {{publishers_amount}}</h2>
    <h2 class = "big-stats">Artist Amount: {{artists_amount}}</h2>

    <!--chart.js stuff-->
    <h2 style="text-align: center;">Countries:</h2>
    <div id = "country-pi-chart">
        <canvas id="countryChart"></canvas>
    </div>
    <h2 style="text-align: center;">Decades (not yet functional):</h2>
    <div id = "date-bar-chart">
        <canvas id="dateChart"></canvas>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const countryData = {
            labels: [
                'United States',
                'Canada',
                'Mexico',
                 'France',
                'United Kingdom',
                'Japan',
                'Aulstralia',
                'Other'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: ["{{albums_us}}", "{{albums_can}}", "{{albums_mex}}", "{{albums_fr}}", "{{albums_uk}}", "{{albums_jp}}", "{{albums_au}}", "{{albums_other}}"],
                backgroundColor: [
                'rgb(57, 117, 33)', //color palate: https://colordesigner.io/#33691e-DBA507-8EC7D2-0D6986-07485B
                'rgb(74, 152, 43)',
                'rgb(91, 187, 53)',
                'rgb(115, 205, 80)',
                'rgb(143, 215, 115)',
                'rgb(171, 225, 150)',
                'rgb(199, 235, 185)',
                'rgb(227, 245, 220)'
                ],
                hoverOffset: 4
            }]
        }
      
        const countryChartConfig = {
            type: 'pie',
            data: countryData,
            options: {}
            };
    </script>



    <script>
        const labels = ["40's", "50's", "60's", "70's", "80's", "90's", "00's", "10's", "20's"]
        const data = {
        labels: labels,
        datasets: [{
            label: 'My First Dataset',
            data: [65, 59, 80, 81, 56, 55, 40],
            backgroundColor: [
            'rgba(57, 117, 33, 0.2)',
            'rgba(74, 152, 43, 0.2)',
            'rgba(91, 187, 53, 0.2)',
            'rgba(115, 205, 80, 0.2)',
            'rgba(143, 215, 115, 0.2)',
            'rgba(171, 225, 150, 0.2)',
            'rgba(199, 235, 185, 0.2)'
            ],
            borderColor: [
            'rgb(57, 117, 33)',
            'rgb(74, 152, 43)',
            'rgb(91, 187, 53)',
            'rgb(115, 205, 80)',
            'rgb(143, 215, 115)',
            'rgb(171, 225, 150)',
            'rgb(199, 235, 185)'
            ],
            borderWidth: 1
        }]
        };

        const config = {
        type: 'bar',
        data: data,
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },
        };


    </script>
    <script>
        const countryChart = new Chart(
          document.getElementById('countryChart'),
          countryChartConfig
        );
    </script>
    <script>
        const dateChart = new Chart(
          document.getElementById('dateChart'),
          config
        );
    </script>
      
{% endblock %}