{% extends "base.html" %}
{% load static %}
    {% block content %}
    <div class = "container-fluid">
        <div class = "row bg-secondary py-3">
            <div class = "col text-center text-dark">
                <h1>Statistics</h1>
                <img class = "img-fluid my-2" style = "max-height: 25rem;" src = "{% static '\images\homepage\ivan-jermakov-N1I6IgDOGJs-unsplash.jpg' %}">
            </div>
        </div>
        <div class = "row d-flex my-5">
            <div class = "col-lg-3 col-md-6 col-sm">
                <div class="card mx-auto my-2 text-center" style="width: 18rem;">
                    <img src="{% static '\images\homepage\alexey-ruban-73o_FzZ5x-w-unsplash.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body bg-light">
                      <h5 class="card-title">Publishers</h5>
                      <p class="card-text">{{publishers_amount}}</p>
                    </div>
                  </div>
            </div>
            <div class = "col-lg-3 col-md-6 col-sm">
                <div class="card mx-auto my-2 text-center" style="width: 18rem;">
                    <img src="{% static '/images/homepage/vinyl-records.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body bg-light">
                      <h5 class="card-title">Albums</h5>
                      <p class="card-text">{{albums_amount}}</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-6 col-sm">
                <div class="card mx-auto my-2 text-center" style="width: 18rem;">
                    <img src="{% static '\images\homepage\chris-ainsworth-7WfcHibcR3Y-unsplash.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body bg-light">
                      <h5 class="card-title">Artists</h5>
                      <p class="card-text">{{artists_amount}}</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-6 col-sm">
                <div class="card mx-auto my-2 text-center" style="width: 18rem;">
                    <img src="{% static '/images/homepage/vinyl_player_background_image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body bg-light">
                      <h5 class="card-title">Songs</h5>
                      <p class="card-text">{{songs_amount}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col col-md-4 col-sm">
                <div class="card">
                    <div class="card-header">
                      Albums By Decade
                    </div>
                    <div class="card-body">
                        <div id = "date-bar-chart" style = "width:100%;">
                            <canvas id="dateChart"></canvas>
                        </div>
                    </div>
                  </div>
            </div>
            <div class = "col col-md-4 col-sm">
                <div class="card">
                    <div class="card-header">
                      Publishers By Decade
                    </div>
                    <div class="card-body">
                        <div id = "date-bar-chart" style = "width: 100%;">
                            <canvas id="publisherDateChart"></canvas>
                        </div>
                    </div>
                  </div>
            </div>
            <div class = "col col-md-4 col-sm">
                <div class="card">
                    <div class="card-header">
                      Songs by Length
                    </div>
                    <div class="card-body">
                        <div id = "length-bar-chart" style = "width: 100%;">
                            <canvas id="songLengthChart"></canvas>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col col-md-4 col-sm">
                <div class="card">
                    <div class="card-header">
                      Songs by Title
                    </div>
                    <div class="card-body">
                        <div id = "song-alphabet-chart" style = "width: 100%;">
                            <canvas id="songAlphabetChart"></canvas>
                        </div>
                    </div>
                  </div>
            </div>
            <div class = "col col-md-4 col-sm">
                <div class="card">
                    <div class="card-header">
                      Albums by Title
                    </div>
                    <div class="card-body">
                        <div id = "album-alphabet-chart" style = "width: 100%;">
                            <canvas id="albumAlphabetChart"></canvas>
                        </div>
                    </div>
                  </div>
            </div>
            <div class = "col col-md-4 col-sm">
                <div class="card">
                    <div class="card-header">
                      Artists by Name
                    </div>
                    <div class="card-body">
                        <div id = "artist-alphabet-chart" style = "width: 100%;">
                            <canvas id="artistAlphabetChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--chart.js stuff still needs to be bootstrapped-->
    <div class = "chart-single-container" id = "country-pi-chart-container">
        <h2>Countries:</h2>
        <div id = "country-pi-chart">
            <canvas id="countryChart"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        //ALBUM COUNTRY CHART
        const countryData = {
            labels: [
                'United States',
                'Canada',
                'Mexico',
                 'France',
                'United Kingdom',
                'Japan',
                'Aulstralia',
                'Other'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: ["{{albums_us}}", "{{albums_can}}", "{{albums_mex}}", "{{albums_fr}}", "{{albums_uk}}", "{{albums_jp}}", "{{albums_au}}", "{{albums_other}}"],
                backgroundColor: [
                'rgb(57, 117, 33)', //color palate: https://colordesigner.io/#33691e-DBA507-8EC7D2-0D6986-07485B
                'rgb(74, 152, 43)',
                'rgb(91, 187, 53)',
                'rgb(115, 205, 80)',
                'rgb(143, 215, 115)',
                'rgb(171, 225, 150)',
                'rgb(199, 235, 185)',
                'rgb(227, 245, 220)'
                ],

                hoverOffset: 4
            }]
        }
      
        const countryChartConfig = {
            type: 'pie',
            data: countryData,
            options: {}
            };
    </script>
    <script>
        //ALBUM DECADE CHART
        const yearLabels = ["40's", "50's", "60's", "70's", "80's", "90's", "00's", "10's", "20's"]
        const albumYearData = {
        labels: yearLabels,
        datasets: [{
            label: 'Album Releases',
            data: ["{{albums_40s}}", "{{albums_50s}}", "{{albums_60s}}", "{{albums_70s}}", "{{albums_80s}}", "{{albums_90s}}", "{{albums_00s}}", "{{albums_10s}}", "{{albums_20s}}"],
            backgroundColor: [
            'rgba(55, 113, 32, 0.4)',
            'rgba(59, 121, 35, 0.4)',
            'rgba(62, 129, 37, 0.4)',
            'rgba(66, 137, 39, 0.4)',
            'rgba(70, 144, 41, 0.4)',
            'rgba(74, 152, 44, 0.4)',
            'rgba(78, 160, 46, 0.4)',
            'rgba(82, 168, 48, 0.4)',
            'rgba(85, 176, 50, 0.4)',
            'rgba(89, 184, 53, 0.4)',
            'rgba(93, 192, 55, 0.4)',
            'rgba(97, 199, 58, 0.4)',
            'rgba(104, 201, 66, 0.4)',
            'rgba(110, 203, 74, 0.4)',
            'rgba(116, 205, 82, 0.4)',
            ],
            borderColor: [
            'rgba(55, 113, 32, 0.9)',
            'rgba(59, 121, 35, 0.9)',
            'rgba(62, 129, 37, 0.9)',
            'rgba(66, 137, 39, 0.9)',
            'rgba(70, 144, 41, 0.9)',
            'rgba(74, 152, 44, 0.9)',
            'rgba(78, 160, 46, 0.9)',
            'rgba(82, 168, 48, 0.9)',
            'rgba(85, 176, 50, 0.9)',
            'rgba(89, 184, 53, 0.9)',
            'rgba(93, 192, 55, 0.9)',
            'rgba(97, 199, 58, 0.9)',
            'rgba(104, 201, 66, 0.9)',
            'rgba(110, 203, 74, 0.9)',
            'rgba(116, 205, 82, 0.9)',
            ],
            borderWidth: 1
        }]
        };

        const dateChartConfig = {
        type: 'bar',
        data: albumYearData,
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },
        };


    </script>
    <script>
        //PUBLISHER DECADE CHART
        const labels = ["1880's", "1890's", "1900's", "1910's", "1920's","30's","40's", "50's", "60's", "70's", "80's", "90's", "00's", "10's", "20's"]
        const data = {
        labels: labels,
        datasets: [{
            label: 'Publishers Founded',
            data: ["{{publishers_1880s}}", "{{publishers_1890s}}", "{{publishers_1900s}}", "{{publishers_1910s}}", "{{publishers_1920s}}", "{{publishers_30s}}", "{{publishers_40s}}", "{{publishers_50s}}", "{{publishers_60s}}", "{{publishers_70s}}", "{{publishers_80s}}", "{{publishers_90s}}", "{{publishers_00s}}", "{{publishers_10s}}", "{{publishers_20s}}",],
            backgroundColor: [
            'rgba(55, 113, 32, 0.4)',
            'rgba(59, 121, 35, 0.4)',
            'rgba(62, 129, 37, 0.4)',
            'rgba(66, 137, 39, 0.4)',
            'rgba(70, 144, 41, 0.4)',
            'rgba(74, 152, 44, 0.4)',
            'rgba(78, 160, 46, 0.4)',
            'rgba(82, 168, 48, 0.4)',
            'rgba(85, 176, 50, 0.4)',
            'rgba(89, 184, 53, 0.4)',
            'rgba(93, 192, 55, 0.4)',
            'rgba(97, 199, 58, 0.4)',
            'rgba(104, 201, 66, 0.4)',
            'rgba(110, 203, 74, 0.4)',
            'rgba(116, 205, 82, 0.4)',
            ],
            borderColor: [
            'rgba(55, 113, 32, 0.9)',
            'rgba(59, 121, 35, 0.9)',
            'rgba(62, 129, 37, 0.9)',
            'rgba(66, 137, 39, 0.9)',
            'rgba(70, 144, 41, 0.9)',
            'rgba(74, 152, 44, 0.9)',
            'rgba(78, 160, 46, 0.9)',
            'rgba(82, 168, 48, 0.9)',
            'rgba(85, 176, 50, 0.9)',
            'rgba(89, 184, 53, 0.9)',
            'rgba(93, 192, 55, 0.9)',
            'rgba(97, 199, 58, 0.9)',
            'rgba(104, 201, 66, 0.9)',
            'rgba(110, 203, 74, 0.9)',
            'rgba(116, 205, 82, 0.9)',
            ],
            borderWidth: 1,
        }]
        };

        const publisherDateConfig = {
        type: 'bar',
        data: data,
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },
        };
    </script>
    <script>
        //Song length CHART 
        const lengthLabels = ["< 1", "1-2", "2-3", "3-4", "4-5","5-6","6-7", "7-8", "8-9", "9-10", "10-20", "20-30"]
        const lengthData = {
        labels: lengthLabels,
        datasets: [{
            label: 'Songs',
            data: ["{{songs_length_under_minute}}", "{{songs_length_one_to_two}}", "{{songs_length_two_to_three}}", "{{songs_length_three_to_four}}", "{{songs_length_four_to_five}}", "{{songs_length_five_to_six}}", "{{songs_length_six_to_seven}}", "{{songs_length_seven_to_eight}}", "{{songs_length_eight_to_nine}}", "{{songs_length_nine_to_ten}}", "{{songs_length_ten_to_twenty}}", "{{songs_length_twenty_to_thirty}}"],
            backgroundColor: [
            'rgba(55, 113, 32, 0.4)',
            'rgba(59, 121, 35, 0.4)',
            'rgba(62, 129, 37, 0.4)',
            'rgba(66, 137, 39, 0.4)',
            'rgba(70, 144, 41, 0.4)',
            'rgba(74, 152, 44, 0.4)',
            'rgba(78, 160, 46, 0.4)',
            'rgba(82, 168, 48, 0.4)',
            'rgba(85, 176, 50, 0.4)',
            'rgba(89, 184, 53, 0.4)',
            'rgba(93, 192, 55, 0.4)',
            'rgba(97, 199, 58, 0.4)',
            'rgba(104, 201, 66, 0.4)',
            'rgba(110, 203, 74, 0.4)',
            'rgba(116, 205, 82, 0.4)',
            ],
            borderColor: [
            'rgba(55, 113, 32, 0.9)',
            'rgba(59, 121, 35, 0.9)',
            'rgba(62, 129, 37, 0.9)',
            'rgba(66, 137, 39, 0.9)',
            'rgba(70, 144, 41, 0.9)',
            'rgba(74, 152, 44, 0.9)',
            'rgba(78, 160, 46, 0.9)',
            'rgba(82, 168, 48, 0.9)',
            'rgba(85, 176, 50, 0.9)',
            'rgba(89, 184, 53, 0.9)',
            'rgba(93, 192, 55, 0.9)',
            'rgba(97, 199, 58, 0.9)',
            'rgba(104, 201, 66, 0.9)',
            'rgba(110, 203, 74, 0.9)',
            'rgba(116, 205, 82, 0.9)',
            ],
            borderWidth: 1,
        }]
        };

        const songLengthConfig = {
        type: 'bar',
        data: lengthData,
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },
        };
    </script>
    <script>
        //SONG ALPHABET CHART
        const songAlphabetLabels = ["A", "B", "C", "D", "E","F","G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
        const songAlphabetData = {
        labels: songAlphabetLabels,
        datasets: [{
            label: 'Songs',
            data: ["{{songs_a}}", "{{songs_b}}", "{{songs_c}}", "{{songs_d}}", "{{songs_e}}", "{{songs_f}}", "{{songs_g}}", "{{songs_h}}", "{{songs_i}}", "{{songs_j}}", "{{songs_k}}", "{{songs_l}}", "{{songs_m}}", "{{songs_n}}", "{{songs_o}}", "{{songs_p}}", "{{songs_q}}", "{{songs_r}}", "{{songs_s}}", "{{songs_t}}", "{{songs_u}}", "{{songs_v}}", "{{songs_w}}", "{{songs_x}}", "{{songs_y}}", "{{songs_z}}"],
            backgroundColor: [
            'rgb(55, 112, 32, 0.4)',
            'rgb(58, 120, 34, 0.4)',
            'rgb(62, 127, 36, 0.4)',
            'rgb(65, 134, 38, 0.4)',
            'rgb(70, 144, 41, 0.4)',
            'rgb(69, 141, 40, 0.4)',
            'rgb(72, 149, 43, 0.4)',
            'rgb(76, 156, 45, 0.4)',
            'rgb(79, 163, 47, 0.4)',
            'rgb(83, 171, 49, 0.4)',
            'rgb(86, 178, 51, 0.4)',
            'rgb(90, 185, 53, 0.4)',
            'rgb(94, 193, 55, 0.4)',
            'rgb(97, 199, 58, 0.4)',
            'rgb(103, 201, 65, 0.4)',
            'rgb(109, 203, 73, 0.4)',
            'rgb(115, 205, 80, 0.4)',
            'rgb(121, 207, 87, 0.4)',
            'rgb(127, 209, 95, 0.4)',
            'rgb(132, 211, 102, 0.4)',
            'rgb(138, 213, 109, 0.4)',
            'rgb(144, 215, 116, 0.4)',
            'rgb(150, 218, 124, 0.4)',
            'rgb(156, 220, 131, 0.4)',
            'rgb(162, 222, 138, 0.4)',
            'rgb(168, 224, 146, 0.4)',
            ],
            borderColor: [
            'rgb(55, 112, 32, 0.9)',
            'rgb(58, 120, 34, 0.9)',
            'rgb(62, 127, 36, 0.9)',
            'rgb(65, 134, 38, 0.9)',
            'rgb(70, 144, 41, 0.9)',
            'rgb(69, 141, 40, 0.9)',
            'rgb(72, 149, 43, 0.9)',
            'rgb(76, 156, 45, 0.9)',
            'rgb(79, 163, 47, 0.9)',
            'rgb(83, 171, 49, 0.9)',
            'rgb(86, 178, 51, 0.9)',
            'rgb(90, 185, 53, 0.9)',
            'rgb(94, 193, 55, 0.9)',
            'rgb(97, 199, 58, 0.9)',
            'rgb(103, 201, 65, 0.9)',
            'rgb(109, 203, 73, 0.9)',
            'rgb(115, 205, 80, 0.9)',
            'rgb(121, 207, 87, 0.9)',
            'rgb(127, 209, 95, 0.9)',
            'rgb(132, 211, 102, 0.9)',
            'rgb(138, 213, 109, 0.9)',
            'rgb(144, 215, 116, 0.9)',
            'rgb(150, 218, 124, 0.9)',
            'rgb(156, 220, 131, 0.9)',
            'rgb(162, 222, 138, 0.9)',
            'rgb(168, 224, 146, 0.9)',
            ],
            borderWidth: 1,
        }]
        };

        const songAlphabetConfig = {
        type: 'bar',
        data: songAlphabetData,
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },
        };
    </script>
     <script>
        //ALBUM ALPHABET CHART
        const albumAlphabetLabels = ["A", "B", "C", "D", "E","F","G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
        const albumAlphabetData = {
        labels: albumAlphabetLabels,
        datasets: [{
            label: 'albums',
            data: ["{{albums_a}}", "{{albums_b}}", "{{albums_c}}", "{{albums_d}}", "{{albums_e}}", "{{albums_f}}", "{{albums_g}}", "{{albums_h}}", "{{albums_i}}", "{{albums_j}}", "{{albums_k}}", "{{albums_l}}", "{{albums_m}}", "{{albums_n}}", "{{albums_o}}", "{{albums_p}}", "{{albums_q}}", "{{albums_r}}", "{{albums_s}}", "{{albums_t}}", "{{albums_u}}", "{{albums_v}}", "{{albums_w}}", "{{albums_x}}", "{{albums_y}}", "{{albums_z}}"],
            backgroundColor: [
            'rgb(55, 112, 32, 0.4)',
            'rgb(58, 120, 34, 0.4)',
            'rgb(62, 127, 36, 0.4)',
            'rgb(65, 134, 38, 0.4)',
            'rgb(70, 144, 41, 0.4)',
            'rgb(69, 141, 40, 0.4)',
            'rgb(72, 149, 43, 0.4)',
            'rgb(76, 156, 45, 0.4)',
            'rgb(79, 163, 47, 0.4)',
            'rgb(83, 171, 49, 0.4)',
            'rgb(86, 178, 51, 0.4)',
            'rgb(90, 185, 53, 0.4)',
            'rgb(94, 193, 55, 0.4)',
            'rgb(97, 199, 58, 0.4)',
            'rgb(103, 201, 65, 0.4)',
            'rgb(109, 203, 73, 0.4)',
            'rgb(115, 205, 80, 0.4)',
            'rgb(121, 207, 87, 0.4)',
            'rgb(127, 209, 95, 0.4)',
            'rgb(132, 211, 102, 0.4)',
            'rgb(138, 213, 109, 0.4)',
            'rgb(144, 215, 116, 0.4)',
            'rgb(150, 218, 124, 0.4)',
            'rgb(156, 220, 131, 0.4)',
            'rgb(162, 222, 138, 0.4)',
            'rgb(168, 224, 146, 0.4)',
            ],
            borderColor: [
            'rgb(55, 112, 32, 0.9)',
            'rgb(58, 120, 34, 0.9)',
            'rgb(62, 127, 36, 0.9)',
            'rgb(65, 134, 38, 0.9)',
            'rgb(70, 144, 41, 0.9)',
            'rgb(69, 141, 40, 0.9)',
            'rgb(72, 149, 43, 0.9)',
            'rgb(76, 156, 45, 0.9)',
            'rgb(79, 163, 47, 0.9)',
            'rgb(83, 171, 49, 0.9)',
            'rgb(86, 178, 51, 0.9)',
            'rgb(90, 185, 53, 0.9)',
            'rgb(94, 193, 55, 0.9)',
            'rgb(97, 199, 58, 0.9)',
            'rgb(103, 201, 65, 0.9)',
            'rgb(109, 203, 73, 0.9)',
            'rgb(115, 205, 80, 0.9)',
            'rgb(121, 207, 87, 0.9)',
            'rgb(127, 209, 95, 0.9)',
            'rgb(132, 211, 102, 0.9)',
            'rgb(138, 213, 109, 0.9)',
            'rgb(144, 215, 116, 0.9)',
            'rgb(150, 218, 124, 0.9)',
            'rgb(156, 220, 131, 0.9)',
            'rgb(162, 222, 138, 0.9)',
            'rgb(168, 224, 146, 0.9)',
            ],
            borderWidth: 1,
        }]
        };

        const albumAlphabetConfig = {
        type: 'bar',
        data: albumAlphabetData,
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },
        };
    </script>
    <script>
        //ARTIST ALPHABET CHART
        const artistAlphabetLabels = ["A", "B", "C", "D", "E","F","G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
        const artistAlphabetData = {
        labels: artistAlphabetLabels,
        datasets: [{
            label: 'artists',
            data: ["{{artists_a}}", "{{artists_b}}", "{{artists_c}}", "{{artists_d}}", "{{artists_e}}", "{{artists_f}}", "{{artists_g}}", "{{artists_h}}", "{{artists_i}}", "{{artists_j}}", "{{artists_k}}", "{{artists_l}}", "{{artists_m}}", "{{artists_n}}", "{{artists_o}}", "{{artists_p}}", "{{artists_q}}", "{{artists_r}}", "{{artists_s}}", "{{artists_t}}", "{{artists_u}}", "{{artists_v}}", "{{artists_w}}", "{{artists_x}}", "{{artists_y}}", "{{artists_z}}"],
            backgroundColor: [
            'rgb(55, 112, 32, 0.4)',
            'rgb(58, 120, 34, 0.4)',
            'rgb(62, 127, 36, 0.4)',
            'rgb(65, 134, 38, 0.4)',
            'rgb(70, 144, 41, 0.4)',
            'rgb(69, 141, 40, 0.4)',
            'rgb(72, 149, 43, 0.4)',
            'rgb(76, 156, 45, 0.4)',
            'rgb(79, 163, 47, 0.4)',
            'rgb(83, 171, 49, 0.4)',
            'rgb(86, 178, 51, 0.4)',
            'rgb(90, 185, 53, 0.4)',
            'rgb(94, 193, 55, 0.4)',
            'rgb(97, 199, 58, 0.4)',
            'rgb(103, 201, 65, 0.4)',
            'rgb(109, 203, 73, 0.4)',
            'rgb(115, 205, 80, 0.4)',
            'rgb(121, 207, 87, 0.4)',
            'rgb(127, 209, 95, 0.4)',
            'rgb(132, 211, 102, 0.4)',
            'rgb(138, 213, 109, 0.4)',
            'rgb(144, 215, 116, 0.4)',
            'rgb(150, 218, 124, 0.4)',
            'rgb(156, 220, 131, 0.4)',
            'rgb(162, 222, 138, 0.4)',
            'rgb(168, 224, 146, 0.4)',
            ],
            borderColor: [
            'rgb(55, 112, 32, 0.9)',
            'rgb(58, 120, 34, 0.9)',
            'rgb(62, 127, 36, 0.9)',
            'rgb(65, 134, 38, 0.9)',
            'rgb(70, 144, 41, 0.9)',
            'rgb(69, 141, 40, 0.9)',
            'rgb(72, 149, 43, 0.9)',
            'rgb(76, 156, 45, 0.9)',
            'rgb(79, 163, 47, 0.9)',
            'rgb(83, 171, 49, 0.9)',
            'rgb(86, 178, 51, 0.9)',
            'rgb(90, 185, 53, 0.9)',
            'rgb(94, 193, 55, 0.9)',
            'rgb(97, 199, 58, 0.9)',
            'rgb(103, 201, 65, 0.9)',
            'rgb(109, 203, 73, 0.9)',
            'rgb(115, 205, 80, 0.9)',
            'rgb(121, 207, 87, 0.9)',
            'rgb(127, 209, 95, 0.9)',
            'rgb(132, 211, 102, 0.9)',
            'rgb(138, 213, 109, 0.9)',
            'rgb(144, 215, 116, 0.9)',
            'rgb(150, 218, 124, 0.9)',
            'rgb(156, 220, 131, 0.9)',
            'rgb(162, 222, 138, 0.9)',
            'rgb(168, 224, 146, 0.9)',
            ],
            borderWidth: 1,
        }]
        };

        const artistAlphabetConfig = {
        type: 'bar',
        data: artistAlphabetData,
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },
        };
    </script>
    <script>
        const countryChart = new Chart(
          document.getElementById('countryChart'),
          countryChartConfig
        );
    </script>
    <script>
        const dateChart = new Chart(
          document.getElementById('dateChart'),
          dateChartConfig
        );
    </script>
    <script>
        const publisherDateChart = new Chart(
          document.getElementById('publisherDateChart'),
          publisherDateConfig
        );
    </script>
    <script>
        const songLengthChart = new Chart(
          document.getElementById('songLengthChart'),
          songLengthConfig
        );
    </script>
    <script>
        const songAlphabetChart = new Chart(
          document.getElementById('songAlphabetChart'),
          songAlphabetConfig
        );
    </script>
    <script>
        const albumAlphabetChart = new Chart(
          document.getElementById('albumAlphabetChart'),
          albumAlphabetConfig
        );
    </script>
    <script>
        const artistAlphabetChart = new Chart(
          document.getElementById('artistAlphabetChart'),
          artistAlphabetConfig
        );
    </script>
      
{% endblock %}